.container{
    margin: 25px 50px 0 50px;
}
.mypic{
    border-radius: 50%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 30px 0 20px;
}
.heading{
    margin: 10px 0 25px 0;
}