<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/img/002.jpg" class="mypic" />
    </div>
    <div class="col">
      <h3>My Info</h3>
      <p>Name: Parthipan Vaithilingam</p>
      <p>Job: Angular Developer</p>
      <p>Location: Chennai, Tamilnadu</p>
      <p>Current CTC: 4LPA</p>
    </div>
    <div class="col">
      <h3>About Me</h3>
      <p>
        I am working as a software engineer in HCLTECH, Chennai. I have 3years
        of experience in Angular. I am good in building single page applications
        with javascript frameworks such as Angular and Reactjs. Enchancing my
        skills to become a full stack developer
      </p>
    </div>
    <h3 class="heading">My Projects</h3>
    <div class="row project">      
      <div class="card" style="width: 18rem">
        <img src="assets/img/chatapp.jpg" class="card-img-top" alt="..." width="512px" height="200px"/>
        <div class="card-body">
          <h5 class="card-title">Chat App</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go to Project</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="assets/img/crud.png" class="card-img-top" alt="..." width="512px" height="200px"/>
        <div class="card-body">
          <h5 class="card-title">CRUD App</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go to Project</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="assets/img/todo.png" class="card-img-top" alt="..." width="512px" height="200px"/>
        <div class="card-body">
          <h5 class="card-title">Todo App</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go to Project</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="assets/img/foodorder.png" class="card-img-top" alt="..." width="512px" height="200px"/>
        <div class="card-body">
          <h5 class="card-title">Food Order App</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go to Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
